<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Passion | Home</title>
		<%include ./assets/header %>
		<%include ./assets/navbar %>
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/style-home.css" rel="stylesheet">
		<style>
		pre{
		    white-space: pre-wrap;       /* Since CSS 2.1 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
		.content-wrap-view{
		    white-space: pre-wrap;       /* Since CSS 2.1 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
		.map{
			width:100%;
			height:350px; 
		}
		</style>
	</head>
	<body>
		<section style="margin-top:20px;">
			<div class="container">	
				<form method="post" id="location">

					<div class="row">
						<div class="col-lg-5">
							<input type="text" name="search" id="address" style="width:100%" class="form-control"  placeholder="Search Maps">
						</div>
						<div class="col-lg-1">
							<span class="text" style="width:100%">Or</span>
						</div>
						<div class="col-lg-2">
							<input type="text" name="latitude" style="width:100%" id="lat" class="form-control"  placeholder="Lattitude">
						</div>
						<div class="col-lg-2">
							<input type="text" name="longitude" style="width:100%" id="lng" class="form-control" placeholder="Longitude">
						</div>
						<div class="col-lg-2">
							<input type="submit" class="btn btn-block btn-danger" value="Search">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div id="map" class="map"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div id="msg">Selected:</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-6">

							<select id="category" name="category" style="width:100%">
								<option value="Art">Art</option>
								<option value="Dance">Dance</option>
								<option value="Knowledge">Knowledge</option>
								<option value="Music">Music</option>
								<option value="Sports">Sports</option>
								<option value="Technology">Technology</option>
							</select>

						</div>
						<div class="col-lg-6">
							<input type="text" id="distance" name="distance" class="form-control" placeholder="Distance(miles)" min="1" max="500" required="required">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-warning" id="talent-hunt-submit">Search Talent</button>
						</div>
					</div>
				</form>

			</div>
		</section>

		<br>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div id="feed-display">
						</div>
					</div>
					<div class="col-lg-6">
						<div id="people-display">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<script type="text/javascript">
			//map
			function initMap(){
				var current = {lat: 22.78251239573235, lng: 86.19083404541016};
				//create a new map
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 16,
					center: current,
					mapTypeId: google.maps.MapTypeId.HYBRID
				});
				map.setOptions({ draggableCursor: 'crosshair' });

				//Create a new marker
				marker = new google.maps.Marker({
					position: current,
					map: map,
				});

        		//drop marker on click
				google.maps.event.addListener(map, 'click', function(event) {
					if(marker){
						marker.setMap(null);
						marker = null;
					}
					marker = new google.maps.Marker({
						position: event.latLng,
						map: map,
						draggable: true
					});
					document.getElementById('lat').value = event.latLng.lat();//display lat
					document.getElementById('lng').value = event.latLng.lng();//display lng

                 	document.getElementById('msg').innerHTML = "Selected: (" + event.latLng.lat() + ", " + event.latLng.lng() +") ";


					localStorage.setItem("lat",event.latLng.lat());//save lat
					localStorage.setItem("lng",event.latLng.lng());//save lng
					var address = document.getElementById('address').value;
					localStorage.setItem("address",address);
					//DO NOT store values in DB now
				 
				});

				//search box
				var input = document.getElementById('address');
        		var searchBox = new google.maps.places.SearchBox(input);

        		// Bias the SearchBox results towards current map's viewport.
				map.addListener('bounds_changed', function() {
					searchBox.setBounds(map.getBounds());
				});

				//Change Location on the map
				searchBox.addListener('places_changed', function() {
					var places = searchBox.getPlaces();

					if (places.length == 0) {
						return;
					}

					// For each place, get the icon, name and location.
					var bounds = new google.maps.LatLngBounds();
					places.forEach(function(place) {
						if (!place.geometry) {
							return;
						}
						var icon = {
							url: place.icon,
							size: new google.maps.Size(71, 71),
							origin: new google.maps.Point(0, 0),
							anchor: new google.maps.Point(17, 34),
							scaledSize: new google.maps.Size(25, 25)
						};


						if (place.geometry.viewport) {
							// Only geocodes have viewport.
							bounds.union(place.geometry.viewport);
						} else {
							bounds.extend(place.geometry.location);
						}
					});
					map.fitBounds(bounds);
				});

				//on sumbitting lat/lng
				var geocoder = new google.maps.Geocoder;
				document.getElementById('location').addEventListener('submit', function(event){
					event.preventDefault();
					geocodeLatLng(geocoder, map, marker);
				});
			}

			//change map on entering lat/lng
			function geocodeLatLng(geocoder, map, marker) {
				var lat = document.getElementById('lat').value;
				var lng = document.getElementById('lng').value;
				var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
				geocoder.geocode({'location': latlng}, function(results, status) {//check the lat/lng
					if (status === 'OK') {
						if (results[0]) {
							//map.setZoom(9);
    						marker.setPosition(latlng);//change marker's position
							map.panTo(latlng);//change map's location
						} else {
							document.getElementById('msg').innerHTML = "No results found.";
						}
					} else {
						document.getElementById('msg').innerHTML = "Map failed due to: " + status;
					}
				});
			}			

			$("#talent-hunt-submit").click(function(e){
				e.preventDefault();

				var latitude = localStorage.getItem("lat");
				var longitude = localStorage.getItem("lng");
				var distance = $("#distance").val();

				if(/^[0-9]*$/g.test(distance)==true)
				{
					// var data = {
					// 	longitude:longitude,
					// 	latitude:latitude,
					// 	distance:distance,
					// 	category:category
					// };

					var	data = $("#location").serialize();

					$.ajax({
						type:"POST",
						url:"/talent",
						data:data,
						success: function(data){
							$("#feed-display").html(data);
						},
						error: function(data){
							console.log(data);
						}
					});
				}
				else
				{
					$("#msg").html("Distance in miles should be a number between 0 and 100");
				}

			});

		</script>
	<%include ./assets/footer %>
	</body>
</html>
